/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

/* Header styles */
.app-header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Main app container */
.app {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

/* Book list styles */
.book-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 900px;
}

.book {
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 15px;
  width: calc(33.33% - 30px);
  transition: transform 0.3s, box-shadow 0.3s;
}

.book:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.book h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.book p {
  font-size: 1rem;
  color: #666;
}

.book-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.add-to-cart-button {
  background-color: #4f2314;
  color: #fff;
  border: none;
  padding: 8px 15px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-cart-button:hover {
  background-color: #ff7043;
}

/* Shopping cart styles */
.shopping-cart {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  position: sticky;
  top: 100px;
  align-self: flex-start;
  margin-left: 20px;
}

.cart-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #333;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.cart-items {
  list-style: none;
  padding: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.cart-item-image {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.cart-item-details {
  flex: 1;
}

.cart-item-title {
  font-size: 1.2rem;
  margin: 0;
}

.cart-item-price {
  font-size: 1rem;
  color: #666;
  margin: 0;
}

.total-price {
  font-size: 1.3rem;
  margin-top: 20px;
  text-align: right;
  color: #333;
}
.total-section {
  margin-top: 30px;
  border-top: 1px solid #ccc;
  padding-top: 15px;
}

.total-label {
  font-size: 1.2rem;
  color: #555;
  margin: 0;
}

.total-price {
  font-size: 1.5rem;
  margin-top: 5px;
  text-align: right;
  color: #ff5722; /* Orange */
}
